<div class="container">
  <div class="card bg-info-subtle my-3 border-0 border-5 border-start border-primary-subtle">
    <div class="card-body">
      <h5><%= @topic.title %></h5>
      <small class="text-muted"> OP <%= @topic.user.nickname %> | Video Time: <span class="badge bg-dark"><%= Time.at(@topic.timestamp).utc.strftime("%M:%S") %></span> </small>
      <p><%= @topic.content %></p>
    </div>
  </div>
  <hr>
  <h5>Community Replies</h5>
  <% @posts.each do |post| %>
    <% if post.user == current_user %>
    <div class="card bg-info-subtle my-3 border-0 border-5 border-start border-primary-subtle">
    <% else %>
    <div class="card bg-info-subtle my-3 border-0 border-5 border-start border-danger-subtle">
    <% end %>
      <div class="card-body">
        <% if post.user.nickname == "LearnyBravo" %>
          <h5><%= post.user.nickname %></h5>
          <span class="text-muted"> AI Assistant </span>
        <% else %>
          <h6 class="text-muted"><%= post.user.nickname %> replied:</h6>
        <% end %>
        <p><%= simple_format(post.content) %></p>
      </div>
    </div>
  <% end %>
  <%= simple_form_for @post do |f| %>
    <%= f.hidden_field :topic_id, value: @topic.id %>
    <%= f.input :content, label: "Post your reply" %>
    <%= f.submit class: "btn btn-info" %>
  <% end %>
</div>
