<% if current_user == @user %>
  <% mini_title = "Personal Statistics" %>
  <% mini_subtitle = "You have created a total of #{pluralize(@user.courses.count, "course")}" %>
<% else %>
  <% mini_title = " Statistics of #{ @user.first_name} #{@user.last_name}" %>
  <% mini_subtitle = "User has created a total of #{pluralize(@user.courses.count, "course")}" %>
<% end %>
<%= render "shared/minibanner", title: mini_title , subtitle: mini_subtitle, button_action: "#{@user_type}", background_img_mini_bar: "https://images.unsplash.com/photo-1560221328-12fe60f83ab8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1774&q=80" %>

<% if @user_type == "mentor" %>
<div class="container-fluid">

  <div class="row justify-content-center mt-4">
    <div class="card-how-grey text-center">
      <div class="row">
        <div class="d-flex align-items-center col-4">
          <i class="fa-solid fa-chart-pie text-warning text-main big-icon text-center"></i>
        </div>
        <div class="col-8">
          <h3 class="mt-4">Total of</h3>
          <h2 class="big-data-text"><%= @total_lessons %></h3>
          <h3>lessons</h3>
        </div>
      </div>
    </div>

    <div class="card-how-grey col-3">
      <div class="row">
        <div class="d-flex align-items-center  col-4">
          <i class="fa-solid fa-users-viewfinder text-warning text-main big-icon text-center"></i>
        </div>
        <div class="col-8">
          <h3 class="mt-4">Total of</h3>
          <h2 class="big-data-text"><%= @total_views %></h2>
          <h3>Views</h3>
        </div>
      </div>
    </div>

    <div class="card-how-grey col-3">
      <div class="row">
        <div class="d-flex align-items-center  col-4">
          <i class="fa-solid fa-users text-warning  text-main big-icon text-center"></i>
        </div>
        <div class="col-8">
          <h3 class="mt-4">Total of</h3>
          <h2 class="big-data-text"><%= @total_subscribers %></h2>
          <h3>subscribers</h3>
        </div>
      </div>
    </div>

    <div class="card-how-grey col-3">
      <div class="row">
        <div class="d-flex align-items-center  col-3">
          <i class="fa-solid fa-ranking-star text-warning fa-star big-icon text-center"></i>
        </div>
        <div class="col-9">
          <h3 class="mt-4">Average of</h3>
          <% if @average_reviews == "Not rated yet" %>
            <% @average_reviews = 0 %>
            <% end %>
          <h2 class="big-data-text"><%= @average_reviews %></h2>
          <h3>stars</h3>
        </div>
      </div>
    </div>
  </div>
</div>

  <br>
  <br>

  <div class="row justify-content-around">
    <div class="card rounded col-5">
      <h3 class= "text-center grey-txt mt-3">Categories of your courses</h3>
        <% categories_count = @user.courses.joins(:category).group("categories.category").count %>
        <%= pie_chart categories_count %>
      </div>

    <div class="card rounded col-5">
      <h3 class= "text-center grey-txt mt-3">Average reviews</h3>
      <% data = @user.courses.map { |course| [course.name, calculate_review(course)] } %>
      <%= column_chart data, id: "average-review-chart", xtitle: "Course", ytitle: "Average Review" %>
    </div>
    <% else %>
      <h2 class= "text-center m-5">This user has not created any content yet. Please check back later!</h2>
    <% end %>
  </div>
</div>
