<div class="container my-5">
  <h3 class="text-main"><i class="fa-solid fa-greater-than"></i> Add new lesson to <%= @course.name %></h3>
  <p><span class="text-info">Important: </span> Here you can update your course and add lessons to it. It is very important that you add an accurate description,
   because our AI assistant uses it as context, along with the course description, to give accurate answers. Also, having an accurate description to both your courses
    and lectures helps your ranking in search! </p>

<%= simple_form_for [@course, @lesson] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :video, as: :file %>
  <%= f.input :post_content, as: :text, input_html: { class: "tinymce" } %>
  <%= tinymce %>
  <%= f.submit class: "btn btn-info" %>
<% end %>
</div>
