<h2><%= @lesson.name %></h2>
<p><%= @lesson.description %></p>
<hr>
<div data-controller="plyr">
  <p>TimeStamp: <span id="demo"></span></p>
  <%= cl_video_tag(@lesson.video.key,
  :loop => true, :controls => true,
  id: "course-player",
  :fallback_content => "Your browser does not support HTML5 video tags.",
  :transformation=>[
  {:height=>400, :width=>790, :crop=>"fill"}
  ])
   %>
</div>
<hr>
<h3>Last 10 Topics</h3>
<% @last_topics.each do |topic| %>
  <%= link_to course_lesson_topic_path(@lesson.course, @lesson, topic), class: "text-decoration-none" do%>
    <div class="card bg-info-subtle my-3 border-0 border-5 border-start border-primary-subtle">
      <div class="card-body">
        <h5><%= topic.title %> <span class="badge bg-dark"><%= Time.at(topic.timestamp).utc.strftime("%M:%S") %></span></h5>
        <br>
        <small class="text-muted"> By <%= topic.user.first_name %> </small>
        <p><%= topic.content %></p>
      </div>
    </div>
  <% end %>
<% end %>
<h3> Start a topic on the lesson </h3>
<%= simple_form_for [@lesson.course, @lesson, @topic] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.text_field :timestamp, value: 0, id: "timestamp", type: "hidden"  %>
  <%= f.submit class: "btn btn-info" %>
<% end %>
<script>
let aud = document.getElementById("course-player");
aud.ontimeupdate = function () { getVideoTime() };

function getVideoTime() {
  document.getElementById("timestamp").value = Math.round(aud.currentTime);
}
</script>
