<% if (current_user != @course.user) %>
  <% if !Review.user_reviewed?(current_user, @course) && CourseSubscription.user_subscribed?(current_user, @course)%>
  <hr>
<h6 class="text-end">Create a new Review</h6>
  <%= simple_form_for [@course, @review] do |f| %>
  <%= f.label :Stars %> <br>
  <div class= "rating">
    <%= f.collection_radio_buttons :stars, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
      <%= b.radio_button %>
      <%=  b.label(class: "text-white remove") %>
    <% end %> <br>
  </div>
  <br>
  <%= f.input :description %>
<hr>
  <%= f.submit class: "btn btn-info" %>
<% end %>


    <% end %>
<% end %>
