<% if params[:query].present? %>
  <% title = "Searching #{params[:query].capitalize} Courses" %>
<% else %>
  <% if params[:category].present? %>
    <% title = "Browsing #{params[:category].capitalize} Courses" %>
  <% else %>
    <% title = "Browsing all courses" %>
  <% end %>
<% end %>
<% subtitle = "We have a library of  #{pluralize(@courses.count, 'course')}" %>
<% button_action = link_to "Create Course", new_course_path, data: { turbo: 'false' }, class: "btn btn-info"  %>
<% background_img_mini_bar = 'https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80' %>
<%= render "shared/minibanner", title: title, subtitle: subtitle, button_action: button_action, background_img_mini_bar: background_img_mini_bar %>
<div class= "container">
  <div class="row my-4">
    <div class="col-6">
      <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by course name or description"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-info" %>
      <% end %>
    </div>
    <div class="col-2 offset-4">
      <div class="dropdown float-end">
        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-filter"></i> Categories
        </button>
        <ul class="dropdown-menu">
          <% @categories.each do |category| %>
            <li><%= link_to category.category, courses_path(category: category.category), class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <main class="grid">
      <% if @courses.count.zero? %>
        <h3 class="text-center">No courses found</h3>
      <% end %>
      <% @courses.each do |course| %>
        <article class= "card-wrap">
          <div class="category-card badge bg-info">
            <i class="fa-solid fa-tags"></i> <%= course.category.category %>
          </div>
          <% if CourseSubscription.user_subscribed?(current_user, course) %>
            <div class="category-card-right badge bg-warning">
              <i class="fa-regular fa-circle-check"></i> subscribed
            </div>
          <% end %>
          <%= cl_image_tag course.poster.key, crop: :fill, class: "img-fluid border-bottom" %>
          <div class="course-content">
            <p class= "text-main d-flex justify-content-between">
              <span>
                <i class="fa-brands text-main fa-youtube"></i> <%= pluralize(course.lessons.count, 'lesson') %>
              </span>
              <span>
                <i class="fa-solid text-warning fa-star"></i> <%= course.calculate_review(course) %>
                <span class= "text-muted small-text">(<%= pluralize(course.reviews.count, "review") %>)</span>
              </span>
            </p>
            <div class="text">
              <h5 class= "mt-2 path"><%= link_to course.name,  course_path(course) ,class: "hide" %></h5>
              <p class="description">
                <%= ActionView::Base.full_sanitizer.sanitize(course.description.first(100)) %></p>
            </div>
            <% if course.user == current_user%>
              <p class="text-main float-start"><i class="fa-solid fa-at"></i> Your Course
              <%= link_to statistics_path(course.user) do %>
              <i class="fa-solid fa-chart-simple"></i>
              <% end %>

              </p>

              <% else %>
            <p class="text-main float-start"><i class="fa-solid fa-at"></i> <%= course.user.nickname %></p>
            <% end %>
            <%= link_to "View Details", course_path(course), class: "btn btn-sm btn-info float-end mb-3" %>
          </div>
        </article>
      <% end %>
    </main>
  </div>
</div>
