
  <% title = "All courses" %>
  <% subtitle = "Total  #{pluralize(@courses.count, 'course')}" %>
  <% paragraph = "<span class=\"button-23\">Add new course</span>".html_safe  %>
  <% background_img_mini_bar = 'https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80' %>
  <%= render "shared/minibanner", title: title, subtitle: subtitle, paragraph: paragraph, background_img_mini_bar: background_img_mini_bar %>


<div class= "container text-center">
<main class="grid">

        <% @courses.each do |course| %>
  <article class= "card-wrap">
        <%= cl_image_tag course.poster.key, crop: :fill, class: "img-fluid" %>
      <p class= "text-muted fst-italic"><%= pluralize(course.lessons.count, 'lesson') %></p>
    <div class="text">
      <h3 class= "mt-2 path"><%= link_to course.name,  course_path(course) ,class: "hide" %></h3>
      <p><%= course.description %></p>
    </div>
  </article>
      <% end %>
</main>
</div>
