<% title = "Courses Manager Dashboard" %>
<% subtitle = "So far you have created  #{pluralize(@courses.count, 'course')}" %>
<% button_action = link_to "Create Course", new_course_path, data: { turbo: 'false' }, class: "btn btn-info"  %>
<% background_img_mini_bar = 'https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80' %>
<%= render "shared/minibanner", title: title, subtitle: subtitle, button_action: button_action, background_img_mini_bar: background_img_mini_bar %>
<div class= "container">
  <div class="row">
  <% if @courses.count.zero? %>
        <h3 class="text-center my-5">You have not added any courses to our platform yet. You can start do to so at any moment!</h3>
      <% end %>
    <main class="grid my-4">

      <% @courses.each do |course| %>
        <article class= "card-wrap">
          <div class="category-card badge bg-info">
            <i class="fa-solid fa-tags"></i> <%= course.category.category %>
          </div>
          <% if CourseSubscription.user_subscribed?(current_user, course) %>
            <div class="category-card-right badge bg-warning">
              <i class="fa-regular fa-circle-check"></i> subscribed
            </div>
          <% end %>
          <%= cl_image_tag course.poster.key, crop: :fill, class: "img-fluid border-bottom" %>
          <div class="course-content">
            <p class= "text-main d-flex justify-content-between">
              <span>
                <i class="fa-brands text-main fa-youtube"></i> <%= pluralize(course.lessons.count, 'lesson') %>
              </span>
              <span>
                <i class="fa-solid text-warning fa-star"></i> <%= course.calculate_review(course) %>
                <span class= "text-muted small-text">(<%= pluralize(course.reviews.count, "review") %>)</span>
              </span>
            </p>
            <div class="text">
              <h5 class= "mt-2 path"><%= link_to course.name,  course_path(course) ,class: "hide" %></h5>
              <p class="description mb-5">
                <%= ActionView::Base.full_sanitizer.sanitize(course.description.first(100)) %></p>
            </div>
            <%= link_to  new_course_lesson_path(course), data: { turbo: 'false' }, class: "btn btn-dark text-white mb-3" do %>
              <i class="fa-solid fa-circle-plus"></i>
            <% end %>
            <%= link_to  course_path(course), class: "btn btn-danger text-white float-end",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure? Deleting this course will remove all lessons and statistics for others!"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            <%= link_to edit_course_path(course), data: { turbo: 'false' }, class: "btn btn-primary mb-3"  do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
            <%= link_to course_path(course), class: "btn btn-info mb-3" do %>
              <i class="fa-solid fa-circle-info"></i>
            <% end %>
          </div>
        </article>
      <% end %>
    </main>
  </div>
</div>
