<h2 class= mb-3>Create a new Course</h2>

<%= simple_form_for(@course) do |f| %>
<div class="card ">
  <div class="card-body rounded">

      <div class="mb-3">
        <%= f.input :name %>
      </div>


      <div class="mb-3">
        <%= f.input :category, :collection => @categories,:label_method => :category,:value_method => :id,:label => "Category" ,:include_blank => false %>
        </div>
        
       <div class="mb-3">
        <%= f.input :description %>
      </div>

        <div class="mb-3">
        <%= f.input :poster, as: :file %>
        </div>


        <%= f.submit class: "button-23 " %>
  </div>
</div>
<% end %>
