
<div class="container my-5">
  <h2 class="text-main"><i class="fa-solid fa-greater-than"></i> Create a new Course</h2>
  <p> By uploading your course on MentorME, you instantly gain access to a vast community of learners from all corners of the world. Your knowledge and insights can make a significant impact on individuals seeking to enhance their skills and expand their horizons.</p>
  <%= simple_form_for(@course) do |f| %>
    <%= f.input :name, class: "form-control" %>
    <%= f.input :description, as: :text, input_html: { class: "tinymce" } %>
    <%= tinymce %>
    <%= f.input :category, collection: @categories, label_method: :category, value_method: :id, label: "Category", include_blank: false, class: "form-control" %>
    <%= f.input :poster, as: :file, class: "form-control" %>
    <%= f.submit "Create", class: "btn btn-info" %>
  <% end %>
</div>
