<h2>Create a new Course</h2>


<%= simple_form_for @course do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.label :category %> <br>
  <%= f.select :category, Category.all.collect {|c| [ c.category, c.id ] }, include_blank: true, input_html: {class: 'form-control'} %>
  <%= f.input :poster, as: :file %>
  <%= f.submit class: "btn btn-info" %>
<% end %>
