<% title = @course.name %>
<% lessons = "<i class='fa-brands text-white fa-youtube'></i> #{pluralize(@course.lessons.count, 'lesson')}" %>
<% subtitle = "Created by #{@course.user.first_name} #{@course.user.last_name}" %>
<% rating = "<i class='fa-solid text-warning fa-star'></i> #{@course.calculate_review(@course)}" %>
<% button_action = raw("#{lessons} | #{rating}") %>
<% background_img_mini_bar = "https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80"%>
<%= render "shared/minibanner", title: title, subtitle: subtitle, button_action: button_action, background_img_mini_bar: background_img_mini_bar %>
<div class="container">
  <% if @course.user == current_user %>
    <hr>
    <h4> Course Management </h4>
    <%= link_to "Edit Course", edit_course_path(@course), class: "btn btn-info" %>
    <%= link_to "Add Lesson To Course", new_course_lesson_path(@course), class: "btn btn-primary" %>
    <%= link_to "Delete", course_path(@course), class: "btn btn-danger text-white float-end",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure? Deleting this course will remove all lessons and statistics for others!"}%>
    <hr>
  <% end %>
  <div class="row mt-3">
    <div class="col-4">
      <%= cl_image_tag @course.poster.key, height: 400, crop: :fill, class: "img-fluid border-solid rounded shadow" %>
      <p class="my-2">
        <div class="badge bg-info">
          <i class="fa-brands text-white fa-youtube"></i>
          <%= @course.category.category %>
        </div>
        <div class="badge bg-info">
          <i class="fa-solid fa-user"></i>
          <%= @course.user.first_name %> <%= @course.user.last_name %>
        </div>
      </p>
    </div>
    <div class="col-6 ps-5">
      <h3 class="mt-2 text-info path"><%= @course.name %></h3>
      <p class="description">
        <%= simple_format(@course.description) %>
      </p>
    </div>
    <div class="col-2">
      <%= render "courses/subscribe" %>
    </div>
  </div>
  <h5 class="mt-5 text-info text-end"><i class="fa-solid fa-book-open-reader"></i> Lessons </h5>
  <hr>
  <% counter = 1 %>
  <% if @lessons.count.zero? %>
    <h5>No lessons added yet!</h5>
  <% end %>
  <% @lessons.each do |lesson| %>
    <% if @highest_viewed.nil? %>
      <div class="row mx-1 border-start border-info border-5 my-1">
      <% else %>
        <% if @highest_viewed.lesson == lesson %>
          <div class="row mx-1 border-start border-success bg-secondary-subtle border-5 my-1">
          <% else %>
            <div class="row mx-1 border-start border-info border-5 my-1">
            <% end %>
          <% end %>
          <div class="col-2">
            <%= cl_image_tag( "#{lesson.video.key}.jpg", :start_offset=>"8.5", :resource_type=>"video", class: "img-fluid") %>
          </div>
          <div class="col-8">
            <h5 class="mt-2 path"><%= link_to "#{counter}. #{lesson.name}", course_lesson_path(@course, lesson) %></h5>
            <% counter = counter+1 %>
            <p class="description text-secondary">
              <%= lesson.description %>
            </p>
          </div>
          <div class="col-2 pt-5">
            <% if UserLessonView.user_viewed?(current_user, lesson) %>
              <% icon_type = "text-info" %>
            <% else %>
              <% icon_type = "text-secondary" %>
            <% end %>
            <%= link_to course_lesson_path(@course, lesson) do %>
              <i class="fa-solid fs-4 fa-play <%= icon_type %>"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= render "courses/display_review" %>
      <% if user_signed_in? %>
        <%= render "courses/add_review" %>
      <% end %>
    </div>
  </div>
